@model Chess.Web.Models.Game.GameModel
@{
    int squaretype = 0;
}
<div class="row">
    <div class="col-md-6">
        <h1>Current player: @Model.CurrentPlayer</h1>

        <div class="board">
            @foreach (var row in Model.Board.Squares)
            {
            squaretype = 1 - squaretype;

            <div class="board-row">
                @foreach (var square in row)
                {
                squaretype = 1 - squaretype;
                <span class="board-square board-square-@square.SquareColour">
                    @if (square.PieceImage != null)
                    {
                    <img src="~/images/board/@square.PieceImage" alt="@square.PieceName" class="@(square.Reference == Model.Board.SelectedSquare ? "selected-square":"")" />
                    }
                    else if (square.CanSelect)
                    {
                    <a href="@square.SelectUrl"></a>
                    }
                </span>
                }
                <div class="board-row-clear"></div>
            </div>
            }
        </div>

        <div class="info-after-board move-confirm-cancel">
            <div>
                <form method="post">
                    <input type="submit" class="btn btn-lg btn-success" value="Confirm move" />
                </form>
            </div>
            <div>
                <a asp-route="ChoosePiece" class="btn btn-lg btn-danger">Cancel move</a>
            </div>
        </div>
    </div>
    @Html.Partial("_History", Model.MoveHistory)
</div>
