@model Chess.Web.Models.Game.GameModel
@{
    // TODO - make these mappings in the view model!
    int squaretype = 0;
}
<div class="row">
    <div class="col-md-12">
        <h1>Current player: @Model.CurrentPlayer</h1>
        <div class="board">
            @foreach (var row in Model.Board.Squares)
            {
                squaretype = 1 - squaretype;

                <div class="board-row">
                    @foreach (var square in row)
                    {
                        squaretype = 1 - squaretype;
                        <span class="board-square board-square-@square.SquareColour">
                            @if (square.PieceImage != null)
                            {
                                if (square.CanSelect)
                                {
                                    <a href="@square.SelectUrl"><img src="~/images/board/@square.PieceImage" alt="@square.PieceName" class="selectable-square" /></a>
                                }
                                else
                                {
                                    <img src="~/images/board/@square.PieceImage" alt="@square.PieceName" class="@(square.Reference == Model.Board.SelectedSquare ? "selected-square":"")" />
                                }
                            }
                            else if (square.CanSelect)
                            {
                                @* Remove hard-coded route!! *@
                                <a href="@square.SelectUrl" class="selectable-square"></a>
                            }
                        </span>
                    }
                    <div class="board-row-clear"></div>
                </div>
            }
        </div>
        @if (Model.InCheck)
        {
        <div class="info-after-board">
            <h2>You are in check</h2>
        </div>
        }
    </div>
</div>
